/* /Pages/AuthenticationPages/Login.razor.rz.scp.css */
.page[b-ayusu3jfp4] {
    background: #007bff !important;
    background: linear-gradient(to right, #0062E6, #33AEFF) !important;
}

.btn-login[b-ayusu3jfp4] {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google[b-ayusu3jfp4] {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook[b-ayusu3jfp4] {
    color: white !important;
    background-color: #3b5998;
}
/* /Pages/AuthenticationPages/Register.razor.rz.scp.css */
.page[b-oc6ks3wnay] {
    background: #007bff !important;
    background: linear-gradient(to right, #0062E6, #33AEFF) !important;
}

.btn-login[b-oc6ks3wnay] {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google[b-oc6ks3wnay] {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook[b-oc6ks3wnay] {
    color: white !important;
    background-color: #3b5998;
}
/* /Shared/AuthenticationLayout.razor.rz.scp.css */
.page[b-j99ypee2fe] {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #007bff !important;
    background: linear-gradient(to right, #0062E6, #33AEFF) !important;
    height: 100%;
}

.btn-login[b-j99ypee2fe] {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google[b-j99ypee2fe] {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook[b-j99ypee2fe] {
    color: white !important;
    background-color: #3b5998;
}


main[b-j99ypee2fe] {
    flex: 1;
}

.sidebar[b-j99ypee2fe] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-j99ypee2fe] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-j99ypee2fe]  a, .top-row[b-j99ypee2fe]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-j99ypee2fe]  a:hover, .top-row[b-j99ypee2fe]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-j99ypee2fe]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-j99ypee2fe] {
        display: none;
    }

    .top-row.auth[b-j99ypee2fe] {
        justify-content: space-between;
    }

    .top-row[b-j99ypee2fe]  a, .top-row[b-j99ypee2fe]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-j99ypee2fe] {
        flex-direction: row;
    }

    .sidebar[b-j99ypee2fe] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-j99ypee2fe] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-j99ypee2fe]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-j99ypee2fe], article[b-j99ypee2fe] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-jbb3eblklp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jbb3eblklp] {
    flex: 1;
}

.sidebar[b-jbb3eblklp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jbb3eblklp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jbb3eblklp]  a, .top-row[b-jbb3eblklp]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-jbb3eblklp]  a:hover, .top-row[b-jbb3eblklp]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-jbb3eblklp]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-jbb3eblklp] {
        display: none;
    }

    .top-row.auth[b-jbb3eblklp] {
        justify-content: space-between;
    }

    .top-row[b-jbb3eblklp]  a, .top-row[b-jbb3eblklp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-jbb3eblklp] {
        flex-direction: row;
    }

    .sidebar[b-jbb3eblklp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-jbb3eblklp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-jbb3eblklp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-jbb3eblklp], article[b-jbb3eblklp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fxtqnkh2cu] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fxtqnkh2cu] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fxtqnkh2cu] {
    font-size: 1.1rem;
}

.oi[b-fxtqnkh2cu] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fxtqnkh2cu] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fxtqnkh2cu] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fxtqnkh2cu] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fxtqnkh2cu]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fxtqnkh2cu]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fxtqnkh2cu]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fxtqnkh2cu] {
        display: none;
    }

    .collapse[b-fxtqnkh2cu] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
