@page "/admin/"
@using MudBlazor
@layout AdminLayout

<MudGrid>
    <!-- Content -->
    <MudItem xs="12">
        <h1>Welcome to the Dashboard!</h1>
        <!-- Your dashboard content goes here -->
    </MudItem>
</MudGrid>

@code {

}
