@page "/forgotpassword"
@layout AuthenticationLayout

@using DotNETProject.Shared;
@using Newtonsoft.Json;
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-5 fw-light fs-5">Send OTP</h3>
                    <form @onsubmit="SendOTP">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" @bind="emailDto.Email">
                            <label for="floatingEmail">Email address</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                Send OTP
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}

@code {
    private EmailDto emailDto = new EmailDto();
    private string errorMessage = "";

    private async Task SendOTP()
    {
        try
        {
            var content = new StringContent(JsonConvert.SerializeObject(emailDto), System.Text.Encoding.UTF8, "application/json");
            var response = await HttpClient.PostAsync("/api/auth/forgot-password", content);

            if (response.IsSuccessStatusCode)
            {
                // Send OTP Successful
                var Email = emailDto.Email;
                NavigationManager.NavigateTo($"/verification/{Email}");
            }
            else
            {
                // Registration failed, handle errors
                if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
                {
                    // User already exists or other validation errors
                    errorMessage = await response.Content.ReadAsStringAsync();
                }
                else
                {
                    // Handle other error cases
                    errorMessage = "An error occurred during sending OTP.";
                }
            }
        }
        catch (Exception ex)
        {
            errorMessage = "An error occurred: " + ex.Message;
        }
    }
}
