@page "/verification/{Email}"
@layout AuthenticationLayout

@using DotNETProject.Shared;
@using Newtonsoft.Json;
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

@*<h3>Verification</h3>

<form @onsubmit="VerifyOTP">
    <span>OTP has been sent to @Email</span>
    <div class="form-group">
        <label for="otp">OTP</label>
        <input type="number" class="form-control" id="otp" @bind="otpDto.Otp">
    </div>
    <button type="submit" class="btn btn-primary">Send OTP</button>
</form>*@

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5 bg-dark text-light">
                <div class="card-body p-4 p-sm-5">
                    <h3 class="card-title text-center mb-5 fw-light fs-5">Verification</h3>
                    <form @onsubmit="VerifyOTP">
                        <span>OTP has been sent to @Email</span>
                        <div class="form-floating mb-3 text-dark">
                            <input type="number" class="form-control" id="floatingOTP" placeholder="OTP" @bind="otpDto.Otp">
                            <label for="floatingOTP">OTP</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                                Verify OTP
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}


@code {
    [Parameter] public string Email { get; set; }
    private OTPDto otpDto = new OTPDto();
    private string errorMessage = "";

    private async Task VerifyOTP()
    {
        try
        {
            otpDto.Email = Email;
            var content = new StringContent(JsonConvert.SerializeObject(otpDto), System.Text.Encoding.UTF8, "application/json");
            var response = await HttpClient.PostAsync("/api/auth/verify-otp", content);

            if (response.IsSuccessStatusCode)
            {
                // Send OTP Successful

                NavigationManager.NavigateTo($"/reset/{Email}");
            }
            else
            {
                // Registration failed, handle errors
                if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
                {
                    // User already exists or other validation errors
                    errorMessage = await response.Content.ReadAsStringAsync();
                }
                else
                {
                    // Handle other error cases
                    errorMessage = "An error occurred during verify.";
                }
            }
        }
        catch (Exception ex)
        {
            errorMessage = "An error occurred: " + ex.Message;
        }
    }
}
