.featured-title[b-e0je2jbdgh] {
    width: 200px;
}

.featured-button[b-e0je2jbdgh] {
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: bold;
}

h3[b-e0je2jbdgh]{
    color: gold;
}

.list img[b-e0je2jbdgh]{
    width:100%;
    height:39vh;
}

.list p[b-e0je2jbdgh] {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: larger;
}
.list a[b-e0je2jbdgh] {
    text-decoration: none !important;
}