@page "/forgotpassword"

@using DotNETProject.Shared;
@using Newtonsoft.Json;
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<h3>Enter email</h3>

<form @onsubmit="SendOTP">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" @bind="emailDto.Email">
    </div>
    <button type="submit" class="btn btn-primary">Send OTP</button>
</form>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p class="text-danger">@errorMessage</p>
}

@code {
    private EmailDto emailDto = new EmailDto();
    private string errorMessage = "";

    private async Task SendOTP()
    {
        try
        {
            var content = new StringContent(JsonConvert.SerializeObject(emailDto), System.Text.Encoding.UTF8, "application/json");
            var response = await HttpClient.PostAsync("/api/auth/forgot-password", content);

            if (response.IsSuccessStatusCode)
            {
                // Send OTP Successful
                var Email = emailDto.Email;
                NavigationManager.NavigateTo($"/verification/{Email}");
            }
            else
            {
                // Registration failed, handle errors
                if (response.StatusCode == System.Net.HttpStatusCode.BadRequest)
                {
                    // User already exists or other validation errors
                    errorMessage = await response.Content.ReadAsStringAsync();
                }
                else
                {
                    // Handle other error cases
                    errorMessage = "An error occurred during sending OTP.";
                }
            }
        }
        catch (Exception ex)
        {
            errorMessage = "An error occurred: " + ex.Message;
        }
    }
}
