@page "/"

@using Blazored.LocalStorage
@inject ILocalStorageService localStorage

<PageTitle>Trang chủ</PageTitle>
<div class="container">
    <div class="content-container">
        <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/f-1.jpg" style="height: 80vh;" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <img src="img/f-t-1.png" class="featured-title" alt="...">
                        <p>
                            Sau khi gặp lại Gwen Stacy, chàng Spider-Man thân thiện đến từ Brooklyn phải du hành qua đa vũ trụ và 
                            gặp một nhóm Người Nhện chịu trách nhiệm bảo vệ các vũ trụ song song.
                        </p>
                        <button class="featured-button">XEM NGAY</button>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <img src="img/f-2.jpg" style="height: 80vh;"  class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <img src="img/f-t-2.png" class="featured-title" alt="...">
                        <p>
                            Bộ phim được chuyển thể từ tiểu thuyết cùng tên của nhà văn Stephen King. Đây là câu chuyện về một nhóm 
                            bạn trẻ cùng nhau chống lại một linh hồn tà ác - nguyên nhân của nhiều vụ mất tích bí ẩn nơi quê nhà 
                            của họ.
                        </p>
                        <button class="featured-button">XEM NGAY</button>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="img/f-3.jpg" style="height: 80vh;" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <img src="img/f-t-3.png" class="featured-title" alt="...">
                        <p>
                            Thành phố Gotham xuất hiện một tên tội phạm kỳ lạ tên Riddler chuyên nhắm vào nhân vật tai to mặt lớn.
                            Và sau mỗi lần phạm tội, hắn đều để lại một câu đố bí ẩn cho Batman. Khi bắt tay vào phá giải các câu đố
                            này, Batman dần lật mở những bí ẩn động trời giữa gia đình anh và tên trùm tội phạm Carmine Falcon..
                        </p>
                        <button class="featured-button">XEM NGAY</button>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div><br><br>

    <div class="container list">
        <h3>Phim Lẻ Đề Cử</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/2.jpg"><p>Mortal Kombat</p></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/3.jpg"><p>Joker</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/4.jpg"><p>1917</p></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/5.jpg"><p>Smile</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/6.jpg"><p>Elvis</p></a></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/7.jpg"><p>Oppenheimer</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/8.jpg"><p>Doctor Strange In The Multiverse Of Madness</p></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/9.jpg"><p>Rurouni Kenshin: Kyoto Inferno</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/10.jpg"><p>Blade Runner 2049</p></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/11.jpg"><p>Aladdin</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/12.jpg"><p>Godzilla vs Kong</p></a></div>
                </div>
            </div>
        </div>

        <h3>Phim Bộ Đề Cử</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                    <div class="col-6"><a href="url"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                </div>
            </div>
        </div>
    </div>
</div>


