@page "/movie/play/{Id}"
@using DotNETProject.Shared;
@inject HttpClient httpClient
@using Blazored.Video
@using Blazored.Video.Support
@inject IJSRuntime JSRuntime

<PageTitle>Xem Phim @movie.Name</PageTitle>
<div class="container">

    <div id="movie"></div>

    <h1 class="trending-text big-title text-uppercase mt-0">@movie.Name</h1>
    <p class="lead">
        @movie.Description
    </p>

</div>

@code {
    [Parameter] public string Id { get; set; }

    private MovieDto movie = new MovieDto();

    protected override async Task OnInitializedAsync()
    {

        movie = await httpClient.GetFromJsonAsync<MovieDto>($"api/Movies/{Int32.Parse(Id)}");
        Console.WriteLine("Link: " + movie.Link);

        await JSRuntime.InvokeVoidAsync("initializeJWPlayer", movie.Link, movie.BackgroundUrl);
    }
}