@page "/movielist"

<PageTitle>Phim Hot</PageTitle>
<div class="container">
    <div class="content-container">
        <!-- FILTER -->
        

        <!-- MOVIE LIST -->
        <div class="container list">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6"><a href="/moviedetail"><img src="img/1.jpg"><p>Blue Beetle</p></a></div>
                            <div class="col-6"><a href="/moviedetail"><img src="img/2.jpg"><p>Mortal Kombat</p></a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6"><a href="/moviedetail"><img src="img/3.jpg"><p>Joker</p></a></div>
                            <div class="col-6"><a href="/moviedetail"><img src="img/4.jpg"><p>1917</p></a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6"><a href="/moviedetail"><img src="img/5.jpg"><p>Smile</p></a></div>
                            <div class="col-6"><a href="/moviedetail"><img src="img/6.jpg"><p>Elvis</p></a></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6"><a href="/moviedetail"><img src="img/7.jpg"><p>Oppenheimer</p></a></div>
                            <div class="col-6"><a href="/moviedetail"><img src="img/8.jpg"><p>Doctor Strange In The Multiverse Of Madness</p></a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6"><a href="/moviedetail"><img src="img/9.jpg"><p>Rurouni Kenshin: Kyoto Inferno</p></a></div>
                            <div class="col-6"><a href="/moviedetail"><img src="img/10.jpg"><p>Blade Runner 2049</p></a></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-6"><a href="/moviedetail"><img src="img/11.jpg"><p>Aladdin</p></a></div>
                            <div class="col-6"><a href="/moviedetail"><img src="img/12.jpg"><p>Godzilla vs Kong</p></a></div>
                        </div>
                    </div>
                </div>
        </div>

        <!-- PAGINATION -->
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination">
                <li class="page-item">
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a class="active" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">&raquo;</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
