@page "/moviedetail"

<PageTitle>Chi Tiết Phim</PageTitle>
   <!-- Banner Start -->
   <div class="container">
         <img id="banner" src="img/bg-1.jpg" class="d-block w-100" alt="...">
         <button><a href="/moviedetail">XEM NGAY</a></button>
         <div class="main-content movie">
            <section class="movie-detail container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="trending-info g-border">
                            <h1 class="trending-text big-title text-uppercase mt-0">BLUE BETTLE</h1>
                            <ul class="p-0 list-inline d-flex align-items-center movie-content">
                                <li class="text-white">Hành Động</li>
                                <li class="text-white">Phiêu Lưu</li>
                                <li class="text-white">Viễn Tưởng</li>
                            </ul>
                            <div class="d-flex align-items-center text-white text-detail">
                                <span class="trending-year">2023</span>
                                <span class="ml-3">2h 7m</span>
                            </div>
                            <p class="trending-dec w-100 mb-0">
                            Jaime Reyes-mới tốt nghiệp trở về quê nhà để tìm kiếm tương lai mới nhưng mọi 
                            thứ quá khó khăn cho cậu. Cuộc đời Jaime bỗng rẽ hướng với món cổ vật cậu nhặt 
                            được-Scarab chọn cậu làm vật chủ và trở thành siêu anh hùng BLUE BEETLE với 
                            bộ áo giáp tối tân nhất.
                            </p><br>
                            <h4 class="text-white">Diễn Viên</h4><br>
                            <div class="container list">
                                <div class="row">
                                    <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-6"><a href=""><img id="cast" src="img/cast/cast-1-1.jpg"><p>Xolo Maridueña</p></a></div>
                                        <div class="col-6"><a href=""><img id="cast" src="img/cast/cast-1-1.jpg"><p>Xolo </p></a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-6"><a href=""><img id="cast" src="img/cast/cast-1-1.jpg"><p>Xolo Maridueña</p></a></div>
                                        <div class="col-6"><a href=""><img id="cast" src="img/cast/cast-1-1.jpg"><p>Xolo Maridueña</p></a></div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-6"><a href=""><img id="cast" src="img/cast/cast-1-1.jpg"><p>Xolo Maridueña</p></a></div>
                                        <div class="col-6"><a href=""><img id="cast" src="img/cast/cast-1-1.jpg"><p>Xolo Maridueña</p></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
</div>

